.App {
  text-align: center;
  /* background-color: black; */
}

.footer{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0%;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  color: white;
  margin-top: 20px;
}

.title{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0%;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  color: white;
  margin-top: 45px;


}

.images{
  display: flex;
  width:400px;
  height: auto;
  padding: 5%;
  margin-left: 20px;
}

.inputs{
  display:flex;
  flex-direction: row-reverse;
  align-items: flex-end;
 
}

.inputBox{
  display:flex;
  flex-direction: row-reverse;
  align-items: center;



}

.createButton{
  display: flex;
  align-items: center;
  position: absolute;


}

.memeOne{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.centerImage{
  display: flex;
  flex-direction: center;
  justify-content: baseline;
  align-content: space-between;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}


.commentText{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 50px;
  color: white;
  display: flex;
  flex-direction: column;
}

.editHousing{
  display: flex;
  flex-direction: column-reverse;
}

.editBox{
  display: flex;
  flex-direction: column-reverse;
}

.editButton{
  flex: display;
  flex-direction: column-reverse;
}

.buttonHousing{
  flex: display;
  flex-direction: column-reverse;
}

.deleteButton{
  flex: display;
  flex-direction: column-reverse;
}


